<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);max-width: 300px;margin: auto;text-align: center;background-color: #EEE;border: 4px solid #DDD;padding: 10px;">
    <h1 th:text="#{email.nuevoAlumno}"></h1>
    <h2 th:text="#{email.student(${student})}"></h2>
    <h2 th:text="#{email.materia(${subject})}"></h2>
    <p><a th:href="${token}" style="border: none;outline: 0;display: inline-block;padding: 8px;color: white;background-color: #000;text-align: center;width: 85%;font-size: 18px;text-decoration: none;" th:text="#{email.gosee}"></a></p>
</div>
</body>
</html>